<div class="container">
  <h3>현재 접속중인 email :
  <%=current_user.email  %>
  </h3>
  <% @travels.each do |travel| %>
      <div class="travel">


      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>지역</th>
          <th>나라</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row"></th>

          <td><div><%= link_to "#{travel.title}", travel_path(travel) %></div></td>
          <td><div><%= travel.country %></div></td>


        </tr>
        </tbody>
      </table>

  <% end %>
  <%= link_to "홈", root_path, class: "btn btn-primary" %>
</div>